@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

.scroll-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
